
*{
    margin: 0;
    padding: 0;
}

.home-paszamine {
    font-family: 'Itim', cursive;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/home.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menudehoy {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 20px;
}

.search-bcg {
    width: 80vw;
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    margin-bottom: 20px;
}
.search-bcg input {
    height: 90%;
    width: 80%;
    padding-left: 10px;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #FFFFFF;
    font-family: 'Itim', cursive;
    font-size: 15px;
}
.search-bcg input::placeholder {
    color: #FFFFFF;
}

.search-bcg span {
    color: #FFFFFF;
}

.titles {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 5px;
    
}

.recetas-bcg {
    width: 95%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    transition: all 10s ease-in-out;
    
}
.recetas-bcg::-webkit-scrollbar {
    width: 0;
    transition: all 10s ease-in-out;
}

.receta-bcg {
    position: relative;
    min-width: 95px;
    min-height: 95%;
    background-color: aliceblue;
    margin: 5px;
    
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px  1px  1px rgba(77, 77, 231, 0.438);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.nombredecomida {
    font-size: 10px;
    color: rgb(16, 16, 115);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgba(213, 220, 255, 0.766);
    border-radius: 0 0 10px 10px;
}

.visits-likes {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px 10px 0 0;
    padding-top: 2px;
    background-color: rgba(213, 220, 255, 0.766);
}
.visits-likes span{
    color: rgb(16, 16, 115);
    font-size: 10px;
    margin-left: 7px;
}
.visits-likes h6 {
    font-size: 8px;
    color: rgb(16, 16, 115);
    margin-left: 1px;
    margin-bottom: 3px;
}

#d {
    position: absolute;
    color: rgba(98, 0, 255, 0.767);
    font-size: 30px;
   
}
#i {
    position: absolute;
    color: rgba(98, 0, 255, 0.767);
    font-size: 30px;
}