
*{
    padding: 0;
    margin: 0;
}

.paszamine {
    position: relative;
    width: 430px;
    height: 930px;
    /* background-image: url(); */
    background-color: aquamarine;
    background-image: url(../images/home.png);
    background-size: cover;
}

.menu-paszamine {
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.15);
    background-blend-mode: luminosity;
    position: absolute;
}